@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Foundry</h1>
        <div class="btn btn-lg">
            <h2><a href="/searchToAdd">Add Cards</a></h2>
        </div>
        <div class="btn btn-lg">
            <h2><a href="/collection/search">View Collection</a></h2>
        </div>
    </div>
